body{
  background-color: #eceef1;
}
#container-signin{
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
#signin-botton{
  background-color: #0077c5;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  height: 34px;
  width: 100px;
  margin-left: 10px; 
}
#signin-text{
  font-size:12px;
  color:#505050;
}
#signin-text p {
  margin: 1px; 
}

#container-secondary-icon{
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-between;
}

#container-logos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.secondary-icon{
  height: 20px;
  width:20px;
}
.primary-icon{
  height: 150px;
  width:200px;
}

#container-form{
  width:50%;
  background-color: white;
  border: 1px solid #c7c7c7;
  margin:auto;
  text-align: center;
}

form label{
  display: block;
  width: 80%;
  text-align: left;
  margin: auto;
  margin-bottom:5px;
}
form input{
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
}
#submit-button{
  background: #0077c5;
  border:none;
  border-radius: 4px;
  height: 44px;
  width: 82%;
  text-transform: capitalize;
  color: white;
}
#container-form-bottom-text{
  margin: auto;
  width: 80%;
  font-size:12px;
  color:#757575;
}

.container-footer-text{
  text-align: center;
  color:gray;
  font-size: 12px;
  
  padding: 0;
}
.container-footer-text a{
  text-decoration-color: none;
  color:gray;
  text-decoration-line: none;
}

#container-footer{
  
}