body{
  background-color: #eceef1;
}
#container-signin{
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}
#signin-botton{
  background-color: #0077c5;
  color: white;
  border: 1px solid black;
  border-radius: 4px;
  height: 34px;
  width: 100px;
  margin-left: 10px; 
}
#signin-text{
  font-size:12px;
  color:#505050;
}
#signin-text p {
  margin: 1px; 
}

#container-secondary-icon{
  display: flex;
  align-items: center;
  width: 15%;
  justify-content: space-between;
}

#container-logos{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.secondary-icon{
  height: 20px;
  width:20px;
}
.primary-icon{
  height: 150px;
  width:200px;
}

#container-form{
  width:30%;
  background-color: white;
  border: 1px solid #c7c7c7;
  margin:auto;
  text-align: center;
}

form label{
  display: block;
  width: 80%;
  text-align: left;
  margin: auto;
  margin-bottom:5px;
}
form input{
  display: block;
  width: 80%;
  height: 30px;
  margin: auto;
  border:1px solid #c1c5c8;
  border-radius: 3px;
  margin-bottom: 15px;
  
}


form input[type='password']{
  background: url(../images/lock.png) 0 50%/21px 21px no-repeat;
  background-position-x: right 2%;

}

#submit-button{
  background: #0077c5;
  border:none;
  border-radius: 4px;
  height: 44px;
  width: 82%;
  text-transform: capitalize;
  color: white;
}
#container-form-bottom-text{
  margin: auto;
  width: 80%;
  font-size:12px;
  color:#757575;
}

#form-container-recaptcha{
  color:#8d9096;
  background-color: #eceef1;
  margin-bottom: 0;
  height:40px;
  padding:15px;
  font-size: 10px;
  text-align: center;
  margin-top: 20px;
}

#form-container-recaptcha a{
  color:blue;
}

.container-footer-text{
  text-align: center;
  color:gray;
  font-size: 12px;
  margin:0;
  color:#505050;
  font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial sans-serif;
  padding: 0;
}


#container-footer{
  margin-top:30px;
}

.container-footer-text a{
  text-decoration-color: none;
  color:#505050;;
  
  text-decoration-line: none;
}

